/*
window
{
    background: #476c89;
}

treeview.view header button
{
    background: #d23b6d;
    color: #9dffbb;
}

 */


/* The outermost widgets on the side panel */
.panelouter
{
    margin: 6px;
}

/* Widgets inside the side panel */
.panelitem
{
    margin: 3px;
}


.schematicview
{
    background: tomato;
}



/* Individual property editors (GtkCombo, etc...) */
.propedit
{
    margin: 3px;
}

.propexpander title
{
    font-style: italic;
    font-weight: bold;
    margin: 3px;
}

/* Labels for individual property editor widgets */
.proplabel
{
    margin: 3px;
}

/* Grids containing the labels and editors */
.propgrid
{
    padding-left: 15px;
}